<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css">
</head>

<body>

<!--<&#45;&#45;Тут был ModalLogin&ndash;&gt;-->
<% if (!auth) { %>
    <% include assets/partitials/modalLogin.ejs %>
<% } %>

<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container"><a class="navbar-brand logo" href="#">ULTRA MEGA PIZZA</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                    class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse"
             id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link active" href="index.ejs">Главная</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="catalog-page.html">ваши пиццы</a>
                </li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="contact-us.html">Тут будет
                        конструктор</a></li>
            </ul>
            <% if (!auth) { %>
                <button class="btn btn-outline-primary" type="button" id="loginFormButton" data-toggle="modal"
                        data-target="#modalLogin">ВОЙТИ
                </button>
            <% } else if (typeof email !== "undefined"){ %>
                <div class="btn-group" id="accountDropdownGroup">
                    <button type="button" id="accountDropdown" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Аккаунт
                    </button>
                    <div class="dropdown-menu" id="accountDropdownMenu">
                        <a class="dropdown-item" href="#" aria-disabled="true"><%= email %></a>
                        <a class="dropdown-item" onclick="logout()">Выйти</a>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</nav>
<!--<div data-bs-parallax-bg="true" style="height:500px;background-image:url(assets/img/DSC00743.jpg);background-position:center;background-size:cover;">-->
<!--</div>-->

<div class="container">
    <H2>Увы, такой страницы не существует</H2>
</div>

<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<!--<script src="assets/js/Background-Image-Slider.js"></script>-->
<!--<script src="assets/js/theme.js"></script>-->
<!--<script src="assets/js/Background-Image-Slider.js"></script>-->
<!--<script src="assets/js/bs-animation.js"></script>-->
<!--<script src="assets/js/Parallax-Scrolling-Horizontal-plus-Vertical.js"></script>-->
<!--<script src="assets/js/Parallax-Scrolling.js"></script>-->
<script src="assets/js/Login-Handler.js"></script>
</body>

</html>