<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css">


</head>

<body>

<% include assets/partitials/header.ejs %>
<div class="container">
    <div class="row">
        <div class="col" style="padding-top: 95px">
            <table class="table table-hover">
                <tbody>
                <% res.forEach(row => { %>
                    <tr id="order-<%= row.id %>">
                        <th>
                            <p><%= row.name %></p>
                        </th>
                        <th>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Состав
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <% for(ing of row.ingredients) { %>
                                        <p class="dropdown-item"><%= ing.name %></p>
                                    <% } %>
                                </div>
                            </div>
                        </th>
                        <th>
                            <p><%= row.amount%>шт.</p>
                        </th>
                        <th>
                            <p><%= row.price %> рублей</p>
                        </th>
                        <th>
                            <button type="button" class="btn btn-secondary" onclick='removeFromCart(<%= row.id %>)'>-
                            </button>
                        </th>
                    </tr>

                <% }) %>
                </tbody>
            </table>
            <div class="modal-footer">
                <p id="order-total-price"></p>
            </div>
        </div>

        <div class="col" style="padding-top: 95px">
            <form method="post" action="/addNewOrder">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Ваше Имя</span>
                    </div>
                    <input name="name" type="text" class="form-control" placeholder="Имя" aria-label="Username"
                           aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Номер телефона</span>
                    </div>
                    <input name="phone" type="tel" class="form-control" placeholder="+7-999-999-9999" aria-label="Username"
                           aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Адрес</span>
                    </div>
                    <input name="address" type="text" class="form-control" placeholder="ул. Пушкина, дом 1, кв. 1"
                           aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <input type="submit" class="btn btn-primary" value="Оформить">
            </form>
        </div>
    </div>
</div>


<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/Background-Image-Slider.js"></script>
<script src="assets/js/theme.js"></script>
<script src="assets/js/Background-Image-Slider.js"></script>
<script src="assets/js/bs-animation.js"></script>
<script src="assets/js/Login-Handler.js"></script>
<script src="assets/js/completeOrder-scripts.js"></script>

</body>

</html>