<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css">

    <!--<link rel="stylesheet" href="assets/reggie/css/reset.css"> &lt;!&ndash; CSS reset &ndash;&gt;-->
    <!--<link rel="stylesheet" href="assets/reggie/css/style.css"> &lt;!&ndash; Resource style &ndash;&gt;-->
    <!--<script src="assets/reggie/js/modernizr.js"></script> &lt;!&ndash; Modernizr &ndash;&gt;-->

</head>

<body>

<% include assets/partitials/header.ejs %>

<!--<div data-bs-parallax-bg="true" style="height:500px;background-image:url(assets/img/DSC00743.jpg);background-position:center;background-size:cover;">-->
<!--</div>-->

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="margin-top: 84px">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <!--<img class="d-block w-100" src="..." alt="First slide">-->
            <div data-bs-parallax-bg="true"
                 style="height:500px;background-image:url(assets/img/DSC00743.jpg);background-position:center;background-size:cover;">
            </div>
            <div class="carousel-caption d-none d-md-block">
                <h5>Создайте свою пиццу!</h5>
                <a class="btn btn-primary" href="/constructor" role="button">Конструктор пиццы</a>
            </div>
        </div>
        <div class="carousel-item">
            <!--<img class="d-block w-100" src="..." alt="Second slide">-->
            <div data-bs-parallax-bg="true"
                 style="height:500px;background-image:url(assets/img/spiral.jpg);background-position:center;background-size:cover;">
            </div>
            <div class="carousel-caption d-none d-md-block">
                <h5>Great Pizza Awaits!!!</h5>
                <p>...</p>
            </div>
        </div>
        <div class="carousel-item">
            <!--<img class="d-block w-100" src="..." alt="Third slide">-->
            <div data-bs-parallax-bg="true"
                 style="height:500px;background-image:url(assets/img/resim.png);background-position:center;background-size:cover;">
            </div>

            <!--<iframe src="https://codyhouse.co/demo/parallax-hero-image/index.html" style="height: 500px; width: 100%"></iframe>-->

            <div class="carousel-caption d-none d-md-block">
                <h5>Great Pizza Awaits!!!</h5>
                <p>...</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/Background-Image-Slider.js"></script>
<script src="assets/js/theme.js"></script>
<script src="assets/js/Background-Image-Slider.js"></script>
<script src="assets/js/bs-animation.js"></script>
<!--<script src="assets/js/Parallax-Scrolling-Horizontal-plus-Vertical.js"></script>-->
<!--<script src="assets/js/Parallax-Scrolling.js"></script>-->
<script src="assets/js/Login-Handler.js"></script>
<!--<script src="assets/reggie/js/main.js"></script> &lt;!&ndash; Resource jQuery &ndash;&gt;-->

<script>
    $('#navBarMainPageButton').attr('class', 'nav-item active');
</script>

</body>

</html>