<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css">


</head>

<body>

<% include assets/partitials/header.ejs %>

<div class="container" style="padding-top: 95px">
        <% res.forEach(row => { %>
            <p>
                ЭТА СТРАНИЦА ЯВЛЯЕТСЯ ЗАГЛУШКОЙ СТРАНИЦЫ ОПЛАТЫ И ЗАВЕРШЕНИЯ ЗАКАЗА.

                Уважаемый(ая) <%= row.name %>,<br>
                Ваш заказ на сумму <%= row.total_price %> будет доставлен по адресу <%= row.address %>.<br>
                В ближайшее время наш оператор свяжется с Вами по номеру <%= row.phone %>.
            </p>
        <% }); %>
</div>


<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/Background-Image-Slider.js"></script>
<script src="assets/js/rating-scripts.js"></script>
<script src="assets/js/theme.js"></script>
<script src="assets/js/Background-Image-Slider.js"></script>
<script src="assets/js/bs-animation.js"></script>
<script src="assets/js/Login-Handler.js"></script>


</body>

</html>