<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css">


</head>

<body>

<% include assets/partitials/header.ejs %>

<div class="container" style="padding-top: 95px">

    <div class="accordion" id="accordionExample">

        <% res.orders.forEach(order => { %>
            <div class="card">
                <div class="card-header" id="heading-<%= order.id %>">
                    <h5 class="mb-0">
                        <button class="btn btn-light collapsed" type="button" data-toggle="collapse"
                                data-target="#collapse-<%= order.id %>" aria-expanded="false"
                                aria-controls="collapse-<%= order.id %>" style="width: 100%">
                            <table class="table table-borderless">
                                <p><%= order.delivery_time %></p>
                            </table>
                        </button>
                    </h5>
                </div>
                <div id="collapse-<%= order.id %>" class="collapse" aria-labelledby="heading-<%= order.id %>"
                     data-parent="#accordionExample">
                    <div class="card-body">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td><%= order.name %></td>
                                <td><%= order.address %></td>
                                <td colspan="3"><%= order.delivery_time %></td>
                                <td><%= order.phone %></td>

                            </tr>
                            <% res.forEach(row => { %>
                                <% if (row.order_id === order.id) { %>
                                    <tr>
                                        <th>
                                            <p><%= row.name %></p>
                                        </th>
                                        <th>
                                            <div class="dropdown">
                                                <button class="btn btn-secondary dropdown-toggle" type="button"
                                                        id="dropdownMenuButton"
                                                        data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                    Состав
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <% for(ing of row.ingredients) { %>
                                                        <p class="dropdown-item"><%= ing.name %></p>
                                                    <% } %>
                                                </div>
                                            </div>
                                        </th>
                                        <th>
                                        <p><%= row.amount %>шт. </p>
                                        </th>
                                        <th>
                                            <p><%= row.price %> рублей</p>
                                        </th>
                                        <th>
                                            <% if(row.scored) { %>
                                                <img id="<%= row.id %>" src="assets/img/star.svg"
                                                     class="btn btn-outline-light favorite checked <%= row.id %>"
                                                     style="height: 40px">
                                            <% } else { %>
                                                <img id="<%= row.id %>" src="assets/img/star-empty.svg"
                                                     class="btn btn-outline-light favorite <%= row.id %>"
                                                     style="height: 40px">
                                            <% } %>
                                        </th>
                                        <th>
                                            <button type="button" class="btn btn-dark"
                                                    onclick="addToCart(<%= row.id %>)">В
                                                корзину
                                            </button>
                                        </th>
                                    </tr>
                                <% }; %>
                            <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        <% }); %>

    </div>

</div>


<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/Background-Image-Slider.js"></script>
<script src="assets/js/theme.js"></script>
<script src="assets/js/Background-Image-Slider.js"></script>
<script src="assets/js/bs-animation.js"></script>
<script src="assets/js/Login-Handler.js"></script>
<script src="assets/js/orders-scripts.js"></script>

</body>

</html>