<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css">


</head>

<body>

<% include assets/partitials/header.ejs %>

<div class="container" style="padding-top: 95px">
    <table class="table table-hover">
        <tbody>
        <% res.forEach(row => { %>
            <tr>
                <th>
                    <p><%= row.name %></p>
                </th>
                <th>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Состав
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <% for(ing of row.ingredients) { %>
                                <p class="dropdown-item"><%= ing.name %></p>
                            <% } %>
                        </div>
                    </div>
                </th>
                <th>
                    <p><%= row.price %> рублей</p>
                </th>
                <th>
                    <button type="button" class="btn btn-dark" onclick="addToCart(<%= row.id %>)">В корзину</button>
                </th>
            </tr>

        <% }) %>
        </tbody>
    </table>
</div>


<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/Background-Image-Slider.js"></script>
<script src="assets/js/rating-scripts.js"></script>
<script src="assets/js/theme.js"></script>
<script src="assets/js/Background-Image-Slider.js"></script>
<script src="assets/js/bs-animation.js"></script>
<script src="assets/js/Login-Handler.js"></script>


</body>

</html>