<ul class="nav nav-tabs" id="myTab" role="tablist">
    <% cat.forEach(function(category){ %>
        <li class="nav-item">
            <a class="nav-link" id="<%= category.name %>-tab" data-toggle="tab" href="#<%= category.name %>"
               role="tab" aria-controls="<%= category.name %>"><%= category.name %></a>
        </li>
    <% }); %>
</ul>
<!--<form id="DOUGH-FORM"></form>-->
<div class="tab-content " id="myTabContent">
    <% cat.forEach(function(category){ %>
        <div class="tab-pane fade" id="<%= category.name %>" role="tabpanel" aria-labelledby="<%= category.name %>-tab">
            <table class="table table-borderless">

                <tbody cat_id="<%= category.name %>">
                <% ing.forEach(function(ingredient){ %>
                    <!--id="<%= category.name %>-table"-->

                    <% if(ingredient.category == category.name) { %>
                        <tr class="ingredient-table-row">
                            <td style="width: 10px">
                                <div class="btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-outline-primary">
                                        <input class="ingButton" id="<%= ingredient.name %>"
                                               type="checkbox"> +
                                    </label>
                                </div>
                            </td>
                            <td class="ingredient-name"><span><%= ingredient.name %></span></td>
                            <td class="ingredient-price">+<span><%= ingredient.price %></span>р</td>
                            <!--<td class="ingredient-amount">-->
                                <!--<div class="form-group row">-->
                                    <!--&lt;!&ndash;<label for="example-number-input" class="col-2 col-form-label">Количество порций</label>&ndash;&gt;-->
                                    <!--<div class="col-4">-->
                                        <!--<input class="form-control" type="number" value="1" min="1" max="3">-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</td>-->

                        </tr>
                    <% } %>
                <% }); %>
                </tbody>

            </table>
        </div>
    <% }); %>
</div>

<div id="constructorContainerFooter" class="modal-footer">
    <!--<input type="text" placeholder="Придумайте имя вашей пицце">-->
    <!--<p><div id="priceSummary">0</div> рублей</p>-->
    <!--<button class="btn btn-primary" onclick="console.log('boop');">Добавить в корзину</button>-->

    <div class="input-group">
        <input type="text" id="pizza-name" class="form-control" aria-label="Rubles" placeholder="Назовите вашу пиццу">
        <div class="input-group-append">
            <span class="input-group-text">RUB</span>
            <span id="priceSummary" class="input-group-text">0.00</span>
            <button class="btn btn-secondary" onclick="addNewPizza();">Добавить в корзину</button>
        </div>
    </div>

</div>


