<div class="modal fade" role="dialog" tabindex="-1" id="modalLogin">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Войти</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body" id="loginModal">
                <form method="POST" id="formx" action="javascript:void(null);" onsubmit="loginButtonPressed()">
                    <input id="email" name="email" class="form-control" type="email" placeholder="name@email.ru"
                           style="width:100%;margin-top:5px;">
                    <input id="password" name="password" class="form-control" type="password"
                           placeholder="password"
                           style="width:100%;margin-top:10px;margin-bottom:10px;">
                    <button class="btn btn-light float-left" type="button" id="regButton" onclick="regButtonPressed()">Регистрация</button>
                    <input class="btn btn-primary float-right" type="submit" id="loginButton" value="Войти"/>
                </form>
            </div>
            <div class="modal-footer" id="loginModalFooter">
                <p class="float-left">Забыли пароль?<a href="#" id="resetPassword">&nbsp;Восстановить</a></p>
            </div>
        </div>
    </div>
</div>