<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container"><a class="navbar-brand logo" href="/">PIZZA-TIME</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                    class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse"
             id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation" id="navBarMainPageButton"><a class="nav-link"
                                                                                      href="/">Главная</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/ratingPage">Выбрать пиццу</a>
                </li>
                <li class="nav-item" role="presentation" id="navBarConstructorButton"><a class="nav-link"
                                                                                         href="/constructor">Создать
                        пиццу</a></li>
            </ul>
            <% if (!auth) { %>
                <button class="btn btn-outline-primary" type="button" id="loginFormButton" data-toggle="modal"
                        data-target="#modalLogin">ВОЙТИ
                </button>
            <% } else if (typeof email !== "undefined"){ %>
                <div class="btn-group" id="accountDropdownGroup">
                    <button type="button" id="accountDropdown" class="btn btn-outline-primary dropdown-toggle"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Аккаунт
                    </button>
                    <div class="dropdown-menu" id="accountDropdownMenu">
                        <a class="dropdown-item" href="#" aria-disabled="true"><%= email %></a>
                        <a class="dropdown-item" href="/orders">Мои заказы</a>
                        <a class="dropdown-item" onclick="logout()">Выйти</a>
                    </div>
                </div>
                <div class="btn-group dropleft" id="cartDropdownGroup">
                    <button type="button" id="cart-button" class="btn btn-link dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        <img src="assets/img/cart.png" width="30px">
                    </button>
                    <div class="dropdown-menu" id="cartDropdownMenu" style="width: 350px">
                        <table class="table table-hover">
                            <tbody id="user-cart">
                            <!--CONTENT OF A CART-->
                            </tbody>
                        </table>
                        <div id="constructorContainerFooter" class="modal-footer">
                            <p id="total-price"></p>
                            <a class="btn btn-dark" href="/complete-order">Заказать</a>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</nav>