* {
  margin:0;
  padding:0;
}

body {
  background:#111;
  height:100%;
}

img {
  border:none;
}

#supersized {
  display:block;
  position:fixed;
  left:0;
  top:0;
  overflow:hidden;
  z-index:-999;
  height:100%;
  width:100%;
}

#supersized img {
  width:auto;
  height:auto;
  position:relative;
  display:none;
  outline:none;
  border:none;
}

#supersized.quality img {
  -ms-interpolation-mode:bicubic;
  image-rendering:optimizeQuality;
}

#supersized li {
  display:block;
  list-style:none;
  z-index:-30;
  position:fixed;
  overflow:hidden;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:#111;
}

#supersized a {
  width:100%;
  height:100%;
  display:block;
}

#supersized li.prevslide {
  z-index:-20;
}

#supersized li.activeslide {
  z-index:-10;
}

#supersized li.image-loading {
  background:#111 url(../img/progress.gif) no-repeat center center;
  width:100%;
  height:100%;
}

#supersized li.image-loading img {
  visibility:hidden;
}

#supersized li.prevslide img, #supersized li.activeslide img {
  display:inline;
}

h1 {
  color:#fff;
}

