* {
  padding:0;
  margin:0;
}

.parent {
  width:100%;
  height:100vh;
  overflow:hidden;
  /*overflow-x:scroll;*/
  overflow-x:hidden;
  white-space:nowrap;
}

.child {
  display:inline-block;
  vertical-align:top;
  width:100%;
  height:100vh;
  background-attachment:fixed;
  background-size:cover;
  background-repeat:no-repeat;
}

.h1, h1 {
  float:right;
  color:white;
  font-size:65px;
  padding:10px;
}

p {
  float:right;
  color:white;
  font-size:35px;
  padding:10px;
  clear:both;
}

.left-col p, .left-col h1 {
  float:left;
  color:white;
  font-size:35px;
  padding:10px;
  clear:both;
}

.decoration-other-content {
  width:100%;
  height:105vh;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  padding:0;
  margin-top:10px;
  margin-bottom:10px;
}

@media (max-width:767px) {
  .decoration-other-content {
    width:100%;
    height:39vh;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    padding:0;
    margin-top:10px;
    margin-bottom:10px;
  }
}

@media (max-width:767px) {
  .parent {
    width:100%;
    height:43vh;
    overflow:scroll;
  }
}

@media (max-width:767px) {
  .child {
    height:40vh;
    background-attachment:scroll;
  }
}

@media (max-width:767px) {
  .h1, h1 {
    float:right;
    color:white;
    font-size:35px;
    padding:10px;
  }
}

@media (max-width:767px) {
  p {
    float:right;
    color:white;
    font-size:20px;
    clear:both;
    padding:10px;
  }
}

